{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="{% static 'about/gaggia1.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gaggia Aparati</h5>
        <p class="card-text">Vrhunski Gaggia aparati za kavu.</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
        <a href="#" class="btn btn-outline-info">Read</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'about/vending_machine.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Strojevi na kovanice</h5>
        <p class="card-text">Široki izbor strojeva na kovanice.</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
        <a href="#" class="btn btn-outline-info">Read</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'about/capsule_machine2.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Strojevi na kapsule</h5>
        <p class="card-text">Pellini E-Smart stroj na kapsule.</p>
      </div>
      <div class="card-footer">
        <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
        <a href="#" class="btn btn-outline-info">Read</a>
      </div>
    </div>
  </div>
  <br>
  <p>Other content</p>
{% endblock content %}