{% extends 'base.html' %}

{% block content %}
    <h2>O nama</h2>
    <hr>
    <p>
        PELLINI CAFFE S.p.A. - pržionica kave osnovana 1922. godine u Veroni, Italija.  

U posljednjih 10 godina doživljava porast proizvodnje od 70% te se trenutno nalazi na 5. mjestu po prodaji u Italiji. S više od 30.000 tona prerađene kave tvrtka bilježi promet od 70.000.000,00 € godišnje. U Pellini kavi možete uživati u 31 zemlji svijeta.

Nova pržionica sagrađena 2008. godine u predgrađu Verone i glasi za jednu od najsofisticiranijih pržionica kave u Europi zbog revolucionarnog sustava prženja suhim zrakom bez dodira zrna kave s metalom. Tvornica nema uobičajeno skladište pakirane kave već po svakoj narudžbi prži sirovu, točno prije isporuke.

Certifikati i brojne zlatne medalje sa svjetskih sajmova hrane i pića sve češće potvrđuju Pellini caffe kao jedno od vodećih imena u svijetu kave, posebno ističući  Pellini TOP Arabica 100% kavu kao perjanicu njihove proizvodnje. Pellini blendovi sačinjeni su od najfinijih sorti kave iz Brazila, Gvatemale, Kolumbije i Etiopije. Voćna nota umjerene kiselosti na početku šalice prelazi u okuse tamnog sušenog voća i tamne čokolade na dnu šalice koji završavanju snažnim i nezaboravnim "aftertasteom".
    </p>
{% endblock content %}