{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Servis Aparata</h5>
          <p class="card-text">
            <p><b>Servis svih tipova aparata za kavu, kućanskih i profesionalnih</b></p>
            <p><b>Prodaja rezervnih dijelova</b></p>
            <p><b>Prodaja Pellini kave</b></p>
            Slobodno pitajte što god vas zanima, savjeti su kod nas još uvijek besplatni :)
            <p>Molimo donesite sve dijelove aparata te ga nemojte čistiti prije servisa, to nam pomaže pri utvrđivanju kvara i općeg stanja aparata.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <!-- <h5 class="card-title">Heading 2</h5> -->
          <p class="card-text">
            <p><b>PROMET AROMA</b> d.o.o. Druga Zagorska 3, Trešnjevka
                10000 Zagreb, Hrvatska (CRO)</p>
          </p>

          <p>Tel.: <b>01/ 3695-016</b></p>
          <p>e-mail: info@prometaroma.hr</p>

          <p><b>Radno vrijeme</b></p>
          <p>Pon-Čet 8:00 - 16:00 h</p>
          <p>Pet 8:00 - 15:00 h</p>
          <p>Sub/Sat 9:00 - 13:00 h</p>
          <p>Ned/Sun Zatvoreno/Closed</p>
      
        </div>
      </div>
    </div>
  </div>
{% endblock content %}