{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'products/capsule_machine2.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Aparati na kapsule</h5>
          <p class="card-text">
            <p><b>Vrhunski espresso za 30 sekundi!</b></p>
            <p><b>Cijena kave je od 2,99 do 3,10 kn/komad</b></p>
            <p><b>Aparat na korištenje nudimo besplatno za potrošnju veću od 4 kave dnevno!</b></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <p class="card-text">Pellini eSmart stvoren ja za istinske ljubitelje espressa. Idealan je za radne sredine do 10 zaposlenih. Aparat je iznimno jednostavan za uporabu. Mljevena kava pakirana je u plastične kapsule i sadrži optimalnu gramažu i granulaciju za nepogrešiv espresso pri svakom spravljanju.</p>
          <p class="card-text">Aparat na korištenje bez naknade za sve koji troše bar od 4 kave dnevno (100 kava mjesečno).

Pribor od 100 komada čaša, žličica i šećera kupuje se po izboru za 20 kn.

Moguće slanje kave i aparata poštom na trošak korisnika.

Besplatna dostava u Zagrebu.</p>

 <p><b>Pellini TOP Arabica 100% (vrhunski espresso)                3,10 kn / 1 kava s PDV-om</b></p>
            <p><b>Pellini BREAK (Mješavina sorti, intenzivna aroma)         2,99 kn / 1 kava s PDV-om</b></p>
      
        </div>
      </div>
    </div>
  </div>
{% endblock content %}