{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'products/snack.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Snack Aparati</h5>
          <p class="card-text">
            <p><b>Voda i bezalkoholna pića</b></p>
            <p><b>Slane grickalice i čokoladice</b></p>
            <p><b>Moguće plaćanje novčanicama</b></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <p class="card-text">Besplatno postavljanje aparata i besplatno punjenje i održavanje. Slane grickalice, 7 Days kroasani, čokoladice, voda Jana, Coca-Cola i prirodni sokovi po prihvatljivim cijenama! Kupovinu artikala olakšava sustav naplate koji prihvaća papirnati novac te uzvraća preplaćeni iznos. Aparat nudi oko 20 različitih rashlađenih proizvoda. Asortiman proizvoda u automatu moguće je prilagoditi po željama korisnika. Naručite svoj snack aparat još danas!

Za više informacija nazovite 01/ 3695-016 ili Pošalji upit na info@prometaroma.hr</p>
          

        </div>
      </div>
    </div>
  </div>
{% endblock content %}