{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'products/vending.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Vending</h5>
          <p class="card-text">
            <p><b>Automati za tople napitke s naplatnim sustavom.</b></p>
            <p><b>Za radne sredine s 10 i više zaposlenih.</b></p>
            <p><b>8-15 različitih toplih napitaka po cijeni od 2-4 kune.</b></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <!-- <h5 class="card-title">Heading 2</h5> -->
          <p class="card-text">Besplatno postavljanje aparata i besplatno održavanje istih, naručite uslugu već danas i uživajte u vrhunskoj kavi po super cijenama od 2-4 kune po napitku! Na automatu je moguće odbrati slijedeće tople napitke: Espresso kava u zrnu Pellini VIVACE  ili instant kava, kava s mlijekom, cappuccino, cappuccino s čokoladom, topla čokolada, topli čaj, mlijeko i ostale tople napitke. Napitci se spravljaju od renomiranih sirovina svjetskih poizvođača; Pellini VIVACE kava u zrnu, Ristora mlijeko u prahu, Ristora čokolada i Columbo instant kava. Deklaracije i normativi napitaka istaknuti su na svakom našem automatu. U ponudi imamo razne tipove aparata s raznim naplatnim sustavima (kovanice, novčanice, na obračun), sve po dogovoru jer svaka lokacija ima svoje posebnosti.

            Nazovite već danas 01/ 3695-016 ili Pošalji upit na <b>info@prometaroma.hr</b>!
            
            Usluga je dostupna u Zagrebačkoj županiji.</p>
      
        </div>
      </div>
    </div>
  </div>
{% endblock content %}