{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'products/water_dispenser.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Dispenzeri za vodu</h5>
          <p class="card-text">
            <p><b>Hrvatska izvorska voda, hladna ili vruća, na dohvat ruke</b></p>
            <p><b>Voda Sveti Rok (18,9l) s čašama 55,00 kn s PDV-om  </b></p>
            <p><b>Mjesečni najam aparata 40,00 kn s PDV-om </b></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <p class="card-text">Voda Sveti Rok puni se na prirodnom izvorištu Kozjan na južnoj strani Velebita u području nacionalnog parka "Velebit". Crpi se na dubini od 90m i na temperaturi od 9oC. Izvorska voda Sveti rok ima iznimno nizak isparinski ostatak (150,2 mg/l) i prirodno je obogaćena magnezijem. Naručite svoj aparat za vodu već danas, za veće potrošaće nudimno posebne pogodnosti! Minimalna potrošnja iznosi 2 boce mjesečno.
          </p>
          <p><b>Minimalna potrošnja iznosi 2 boce mjesečno</b></p>
          <p><b>Besplatna dostava u Zagrebu</b></p>
          <p>Nazovite već danas 01/ 3695-016 ili  Pošalji upit na info@prometaroma.hr</p>
          
          

        </div>
      </div>
    </div>
  </div>
{% endblock content %}